.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 500px;
  max-width: 100%;
}

.formGroup {
  margin-bottom: 1rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
}

.saveButton,
.cancelButton {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}

.saveButton {
  background-color: #28a745;
  color: white;
  border-radius: 10px;
}

.saveButton:hover {
  background-color: #089527;
}

.cancelButton {
  background-color: #dc3545;
  color: white;
  border-radius: 10px;
}

.cancelButton:hover {
  background-color: #b12331;
}
