.container {
  padding: 16px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #fafafa;  
  display: flex;
}

.width_container{
  width: 80%;
}

.btn_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.input_container{
  display: flex;
  align-items: center;
}

.title {
  font-size: 22px;
  margin-bottom: 12px;
  color: #333;
  text-align: center;
  font-weight: 500;
}

.adsList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.adItem {
  border-radius: 12px;
  width: calc(25% - 12px);
  background-color: #fff;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 14px;
  border: 1px solid #dedede;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.adItem:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.searchInput {
  padding: 10px;
  width: 100%;
  max-width: 260px;
  display: block;
  border: 1px solid #bbb;
  border-radius: 8px;
  font-size: 14px;
  background-color: #f4f4f4;
}

.itemsPerPage {
  font-size: 13px;
  color: #888;
  margin-left: 20px;
}

.createAdButton {
  background-color: #007aff;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.createAdButton:hover {
  background-color: #005bb5;
}
